[Software\BigFix\EnterpriseClient]
EnterpriseClientFolder         = /opt/BESClient

[Software\BigFix\EnterpriseClient\GlobalOptions]
StoragePath                    = /var/opt/BESClient
LibPath                        = /opt/BESClient/BESLib

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer1]
value                          = http://CAM03GSEP-BFRA0.gsa.gov:52311/bfmirror/downloads

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer2]
value                          = http://CAM03GSEP-BFRA0.gsa.gov:52311/bfmirror/downloads

[Software\BigFix\EnterpriseClient\Settings\Client\GSA SLA Compliance]
value                          =  
effective date                 = Tue,%2003%20Nov%202020%2009:32:11%20-0500

[Software\BigFix\EnterpriseClient\Settings\Client\GSA FISMA System]
value                          =  
effective date                 = Tue,%2003%20Nov%202020%2009:32:11%20-0500

[Software\BigFix\EnterpriseClient\Settings\Client\GSA Patch Group]
value                          =  
effective date                 = Tue,%2003%20Nov%202020%2009:32:11%20-0500
