[Software\BigFix\EnterpriseClient]
EnterpriseClientFolder         = /opt/BESClient

[Software\BigFix\EnterpriseClient\GlobalOptions]
StoragePath                    = /var/opt/BESClient
LibPath                        = /opt/BESClient/BESLib

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_Comm_CommandPollEnable]
value                          = 1

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_Comm_CommandPollIntervalSeconds]
value                          = 1800

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_Comm_ProxyServer]
value                          = obproxy.login.gov.internal

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_Comm_ProxyPort]
value                          = 3128

[Software\BigFix\EnterpriseClient\Settings\Client\__RelaySelect_Automatic]
value                          = 0

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer1]
value                          = http://bfawsrelay.gsa.gov:52311/bfmirror/downloads

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer2]
value                          = http://bfawsrelay.gsa.gov:52311/bfmirror/downloads

[Software\BigFix\EnterpriseClient\Settings\Client\GSA Excluded]
value = Yes

[Software\BigFix\EnterpriseClient\Settings\Client\GSA Organization]
value = Login.gov

[Software\BigFix\EnterpriseClient\Settings\Client\GSA FISMA System]
value = Q-LG
