certs/*
.chef/*.pem
.chef/data_bag.key
.chef/knife.rb
.chef/syntaxcache
.DS_Store
/env/*
.kitchen/
.kitchen.local.yml
kitchen/data_bags/*.json
kitchen/data_bags/**/*.json
/kitchen/data_bags/config/
/kitchen/vendor
/kitchen/berks-cookbooks
terraform.tfstate
terraform.tfstate.backup
.vagrant
Vagrantfile
/terraform-*/.terraform/modules/
