.chef/*.pem
.chef/data_bag.key
.chef/knife.rb
.chef/syntaxcache
.vagrant
.kitchen/
.kitchen.local.yml
env.*
kitchen/data_bags/*.json
kitchen/data_bags/**/*.json
kitchen/vendor
terraform.tfstate
terraform.tfstate.backup
Vagrantfile
.DS_Store

