#!/bin/sh
export TF_VAR_access_key=$EXISTING_ENV_VAR
export TF_VAR_ami_id='new var'
export TF_VAR_app_sg_ssh_cidr_blocks= # whitelist of CIDR blocks for ssh access to app host
export TF_VAR_app_subnet_cidr_block= # must be within the vpc_cidr_block
export TF_VAR_client=
export TF_VAR_db1_subnet_cidr_block= # must be within the vpc_cidr_block
export TF_VAR_db2_subnet_cidr_block= # must be within the vpc_cidr_block
export TF_VAR_domain= # name of 18f keypair
export TF_VAR_key_name= # name of 18f keypair
export TF_VAR_secret_key=
export TF_VAR_rds_password=
export TF_VAR_rds_username=
export TF_VAR_vpc_cidr_block=
export TF_VAR_zone_id=
