
# region to deploy to
export TF_VAR_region=us-west-1

# Your AWS API access key
export TF_VAR_access_key=$AWS_ACCESS_KEY_ID

# Your AWS API secret key
export TF_VAR_secret_key=$AWS_SECRET_ACCESS_KEY

# account_id is for the AWS account in which this is being done (the actual number, not the name)
export TF_VAR_account_id=XXX

# base AMI for webapp/worker
export TF_VAR_ami_id=XXX

# whitelist of CIDR blocks for ssh access to app host
export TF_VAR_app_sg_ssh_cidr_blocks=XXX

# whitelist of the webapp(?) network
export TF_VAR_app_subnet_cidr_block=XXX

# whitelist of the worker(?) network
export TF_VAR_app2_subnet_cidr_block=XXX

# terraform state bucket
export TF_VAR_bucket=XXX

# chef AMI
export TF_VAR_chef_ami_id=XXX

# client billing code, needed for 18f-ent account
export TF_VAR_client=XXX

# db subnet, must be within the vpc_cidr_block
export TF_VAR_db1_subnet_cidr_block=XXX

# db subnet, must be within the vpc_cidr_block
export TF_VAR_db2_subnet_cidr_block=XXX

# name of the dns domain that we are deploying these hosts under (example: login.gov, though we are moving away from that)
export TF_VAR_domain=XXX

# the environment to deploy to (tf/test/dev/etc)
export TF_VAR_env_name=XXX

# ssh key used to get in (actually overridden in the AMI)
export TF_VAR_key_name=XXX

# self explanatory
export TF_VAR_rds_password=XXX

# self explanatory
export TF_VAR_rds_username=XXX

# used for administering DNS (can leave empty for now)
export TF_VAR_secret_key_18f_ent=

# chef subnet, must be within the vpc_cidr_block_chef
export TF_VAR_subnet_cidr_block_chef=XXX

# The entire VPC network
export TF_VAR_vpc_cidr_block=XXX

# Chef subnet, must be within the vpc_cidr_block
export TF_VAR_vpc_cidr_block_chef=XXX

# used for dns, can ignore for now
export TF_VAR_zone_id=

