export TF_VAR_region=us-east-1

export TF_VAR_access_key=$EXISTING_ENV_VAR
export TF_VAR_account_id='new var'
export TF_VAR_ami_id=
export TF_VAR_app_sg_ssh_cidr_blocks= # whitelist of CIDR blocks for ssh access to app host
export TF_VAR_app_subnet_cidr_block= # must be within the vpc_cidr_block
export TF_VAR_app2_subnet_cidr_block= # must be within the vpc_cidr_block
export TF_VAR_bucket=login_dot_gov_terraform_state
export TF_VAR_chef_ami_id=
export TF_VAR_client=
export TF_VAR_db1_subnet_cidr_block= # must be within the vpc_cidr_block
export TF_VAR_db2_subnet_cidr_block= # must be within the vpc_cidr_block
export TF_VAR_domain=
export TF_VAR_env_name=
export TF_VAR_key_name=
export TF_VAR_rds_password=
export TF_VAR_rds_username=
export TF_VAR_secret_key=
export TF_VAR_secret_key_18f_ent=
export TF_VAR_subnet_cidr_block_chef= # must be within the vpc_cidr_block_chef
export TF_VAR_vpc_cidr_block=
export TF_VAR_vpc_cidr_block_chef=
export TF_VAR_zone_id=