version: 2
jobs:
  build-base-image:
    working_directory: ~/identity-devops
    docker:
      - image: circleci/ruby:2.6 # this doesn't matter, just using for consistency.
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: |
          rev=$(git rev-parse --short HEAD)
          docker build -t logindotgov/base:latest -t logindotgov/base:"${rev}" -f dockerfiles/base.Dockerfile dockerfiles
          echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
          docker push logindotgov/base:"${rev}"
          docker push logindotgov/base:latest
  build-build-image:
    working_directory: ~/identity-devops/dockerfiles
    docker:
      - image: circleci/ruby:2.6 # this doesn't matter, just using for consistency.
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: |
          rev=$(git rev-parse --short HEAD)
          docker build -t logindotgov/build:latest -t logindotgov/build:"${rev}" -f dockerfiles/build.Dockerfile dockerfiles
          echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
          docker push logindotgov/build:"${rev}"
          docker push logindotgov/build:latest
workflows:
  version: 2
  release:
    # we have to build them in this order as the build image is required by the base image.
    jobs:
      - build-base-image
      - build-build-image:
          requires:
            - build-base-image
