# This file is used by the Figaro gem: https://github.com/laserlemon/figaro

# Be sure to restart your server when you modify this file.

# trusted roots are not verified as part of the certificate store
# all other certificates in the certificate store will have to trace
# back to one of these roots. The first one is the ultimate public root.
# The others are DoD certs 2-4 from the archive available at
# http://iasecontent.disa.mil/pki-pke/Certificates_PKCS7_v5.0u1_DoD.zip
aws_http_timeout: '5'
http_read_timeout: '5'
http_open_timeout: '5'

trusted_ca_root_identifiers: "\
  AD:0C:7A:75:5C:E5:F3:98:C4:79:98:0E:AC:28:FD:97:F4:E7:02:FC,\
  17:4B:B8:26:BA:69:7A:AD:12:50:57:45:31:9E:57:BB:74:A5:DA:2F,\
  49:74:BB:0C:5E:BA:7A:FE:02:54:EF:7B:A0:C6:95:C6:09:80:70:96,\
  68:84:15:48:8C:54:70:7F:2D:12:58:0E:EC:1C:78:EF:3C:2E:59:64,\
  6C:8A:94:A2:77:B1:80:72:1D:81:7A:16:AA:F2:DC:CE:66:EE:45:C0,\
  BD:C1:B9:6B:4D:F4:1D:EC:30:90:BF:62:73:C0:84:33:F2:71:24:85,\
  9C:16:31:A2:B4:29:8C:2E:04:62:57:87:11:E4:0F:4A:86:F4:75:48" # temporarily add 9C:16:31:A2:B4:29:8C:2E:04:62:57:87:11:E4:0F:4A:86:F4:75:48 for pen test

dod_root_identifiers: "\
  49:74:BB:0C:5E:BA:7A:FE:02:54:EF:7B:A0:C6:95:C6:09:80:70:96,\
  6C:8A:94:A2:77:B1:80:72:1D:81:7A:16:AA:F2:DC:CE:66:EE:45:C0,\
  BD:C1:B9:6B:4D:F4:1D:EC:30:90:BF:62:73:C0:84:33:F2:71:24:85"

required_policies: |
  [
    "2.16.840.1.101.2.1.11.9",
    "2.16.840.1.101.2.1.11.19",
    "2.16.840.1.101.2.1.11.42",
    "2.16.840.1.101.2.1.11.43",
    "2.16.840.1.101.2.1.11.44",
    "2.16.840.1.101.3.2.1.3.7",
    "2.16.840.1.101.3.2.1.3.13",
    "2.16.840.1.101.3.2.1.12.2",
    "2.16.840.1.101.3.2.1.12.3",
    "2.16.840.1.101.3.2.1.12.5",
    "2.16.840.1.101.3.2.1.12.6",
    "2.16.840.1.101.3.2.1.12.10",
    "2.16.840.1.114027.200.3.10.7.2"
  ]

development:
  aws_region: 'us-east-1'
  client_cert_escaped: 'false'
  database_name: 'identity_pki_dev'
  identity_idp_host: 'localhost'
  nonce_bloom_filter_server: 'redis://localhost:6379/2'
  nonce_bloom_filter_enabled: 'true'
  token_encryption_key_salt: 23df6c812fb1ca9c17debee3a91aba30bc0e85c38b414ee59a9e3d3eb5ec5c0221e2558cac8a808375711cb1450a9db40b8aec74f147e4a3e15dc3c304f1b23e
  token_encryption_key_pepper: c6b4a68a3adf0ff2069d5240bb71532c7a8c0dbb77bba5f9070e2d8ab1ebcc918cc8d8cdbb04fa34ed71126fac3e02d9c85280ae0f7c42d22b678e3e5eb67cfe
  database_host: ''
  database_password: ''
  database_username: ''
  database_statement_timeout: '2500'
  database_timeout: '5000'
  secret_key_base: ''
  certificate_store_directory: 'config/certs'

test:
  aws_region: 'us-east-1'
  client_cert_escaped: 'true'
  database_name: 'identity_pki_test'
  identity_idp_host: 'localhost'
  nonce_bloom_filter_server: 'redis://localhost:6379/2'
  nonce_bloom_filter_enabled: 'true'
  token_encryption_key_salt: 23df6c812fb1ca9c17debee3a91aba30bc0e85c38b414ee59a9e3d3eb5ec5c0221e2558cac8a808375711cb1450a9db40b8aec74f147e4a3e15dc3c304f1b23e
  token_encryption_key_pepper: c6b4a68a3adf0ff2069d5240bb71532c7a8c0dbb77bba5f9070e2d8ab1ebcc918cc8d8cdbb04fa34ed71126fac3e02d9c85280ae0f7c42d22b678e3e5eb67cfe
  database_host: ''
  database_password: ''
  database_username: ''
  secret_key_base: ''
  certificate_store_directory: 'config/test-certs'

production:
  aws_region:
  client_cert_escaped: 'true'
  certificate_store_directory: 'config/certs'
  nonce_bloom_filter_enabled: 'false'
