postgresql: &postgresql
  adapter: postgresql
  encoding: utf8
  database: identity_pki_<%= Rails.env %>
  port: 5432
  username: <%= ENV['DOCKER_DB_USER'] %>

defaults: &defaults
  host: <%= ENV['DOCKER_DB_HOST'] || 'localhost' %>
  pool: 5
  <<: *postgresql
  reconnect: true
  timeout: <%= IdentityConfig.store.database_timeout %> # ms
  connect_timeout: 2
  keepalives_idle: 10
  keepalives_interval: 10
  keepalives_count: 2
  checkout_timeout: 5
  reaping_frequency: 10
  variables:
    statement_timeout: <%= IdentityConfig.store.database_statement_timeout %> # ms

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  username: <%= IdentityConfig.store.database_username %>
  host: <%= IdentityConfig.store.database_host %>
  password: <%= IdentityConfig.store.database_password %>
  sslmode: 'verify-full'
  sslrootcert: '/usr/local/share/aws/rds-combined-ca-bundle.pem'
