production:
  agent_enabled: true
  app_name: pivcac.<%= LoginGov::Hostdata.env %>.<%= LoginGov::Hostdata.domain %>
  host: gov-collector.newrelic.com
  audit_log:
    enabled: false
  error_collector:
    capture_source: true
    enabled: true
  license_key: <%= Figaro.env.newrelic_license_key! %>
  log_level: info
  monitor_mode: true
  transaction_tracer:
    enabled: true
    record_sql: obfuscated
  proxy_host:
  proxy_port:
