production:
  agent_enabled: true
  app_name: pivcac.<%= Identity::Hostdata.env %>.<%= Identity::Hostdata.domain %>
  # Application log forwarding should always be disabled
  application_logging:
    forwarding:
      enabled: false
  host: gov-collector.newrelic.com
  audit_log:
    enabled: false
  error_collector:
    capture_source: true
    enabled: true
  license_key: <%= IdentityConfig.store.newrelic_license_key %>
  log_level: info
  monitor_mode: true
  transaction_tracer:
    enabled: true
    record_sql: obfuscated
  proxy_host:
  proxy_port:
