# the environment to deploy to (tf/test/dev/etc)
export TF_VAR_env_name=XXX

# AWS region to deploy to
export TF_VAR_region=XXX

# this is added as a "client" tag to every resource to help with billing
export TF_VAR_client=XXX

# ec2 ssh key used to get in (often overridden in the AMI)
export TF_VAR_key_name=XXX

# base AMI for webapp/worker
export TF_VAR_ami_id=XXX

# non-webapp/worker AMI (FISMA base)
export TF_VAR_default_ami_id=XXX

# whitelist of CIDR blocks for ssh access to app host
export TF_VAR_app_sg_ssh_cidr_blocks='["XXX"]'

# self explanatory
export TF_VAR_rds_password=XXX

# self explanatory
export TF_VAR_rds_username=XXX

# to dynamically get the power users so that we can administer KMS keys
export TF_VAR_power_users=`aws iam get-group --group-name identity-power --output json | ruby -e 'require "json"; require "pp"; result = []; JSON.parse(STDIN.read)["Users"].each do |u|; result << u["Arn"]; end; pp result'`

# to dynamically get the power users so that we can administer KMS keys
export TF_VAR_power_users=`aws iam get-group --group-name identity-power --output json | ruby -e 'require "json"; require "pp"; result = []; JSON.parse(STDIN.read)["Users"].each do |u|; result << u["Arn"]; end; pp result' | tr -d '\n'`

#####################
# These variables are used for packer
export DATABAG_KEY_PATH=/XXX/.chef/data_bag.key
export CHEF_ENV=$TF_VAR_env_name
export FISMA_BASE_AMI_ID=$TF_VAR_default_ami_id
export VALIDATION_CLIENT_NAME=$CHEF_ENV-login-dev-validator
export VALIDATION_KEY_PATH=/XXX/.chef/$CHEF_ENV-login-dev-validator.pem
# these can be cut/pasted from the tf output
export CHEF_URL=https://XXX/organizations/login-dev
export SECURITY_GROUP_ID=XXX
export SUBNET_ID=XXX
export VPC_ID=XXX

####################
# These variables are used for chef
export TF_VAR_chef_id=XXX
export TF_VAR_chef_info="XXXFirstname XXXLastname XXX@gsa.gov XXXRandomPassword"
export TF_VAR_chef_id_key_path=XXX
export TF_VAR_chef_databag_key_path=XXX
#export TF_VAR_chef_repo_gitref=XXX
export TF_VAR_live_certs=XXX


####################
# This is the deploy key that lets us check out identity-devops
export TF_VAR_git_deploy_key_path=/XXX/id_rsa_XXX

# Customize the location of the nessus/nessus manager debian package
# export TF_VAR_nessus_server_path=